/* global styles */
@import 'reset.css';
@import "typography.css";

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';

body {
display: flex;
flex-direction: column;
background: red;
  color: black;
  /* max-width: 1440px; */
  margin: 0 auto;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  flex:1;
  padding: 1rem;
  gap: 2rem;
  background-image: url(../client/public/images/WindowsXP.jpg);
  
  text-align: center;
}
.button{
  position: relative;
  border: 1px solid #0360df;
  border-radius: 50px;
  padding: 8px 16px;
  min-width: 8em;
  background-color: #0360df;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff, transparent), radial-gradient(75% 35% at 50% 85%, #8de3fc, transparent);
  box-shadow: inset 0 -2px 4px 1px rgba(17, 110, 231, 0.6), inset 0 -4px 4px 1px #8de3fc, inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px #116ee7;
  transition-property: border-color, transform, background-color;
  transition-duration: 0.2s;
  text-decoration: none;
  
  &:hover {
    transform: scale(1.04);
  }
  
  &:active {
    border-color: #0048d5;
    transform: scale(.96);
    background-color: #0048d5;
  }
}

.jokes {
  display: flex;
  justify-content: center;
  align-items: center;
  
  & img {
    margin-left: -5rem;
  }
}

#time {
  color: white;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}