body {
  /* font-family: system-ui, sans-serif; */
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: 400;
}

h1 {
  display: flex;
  align-items: center;
  
  height: fit-content;
  min-height: 80px;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 1rem;
  
  font-size: 1.5rem;
  color:rgb(0, 0, 0);
  background-color: #FCFAD0;
  border: .2rem solid black;

}

h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 600;
}

