<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="https://use.typekit.net/qnd4xdc.css">
  <script src="/index.js" defer></script>
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
  <header>
    <div class="logo">
      <img src="/images/logo.png" alt="" height="48">
      funnylol.com
    </div>
    

    <div>X</div>

  </header>
  <main>
    {% block content %}{% endblock %}

    <a class="button" href="/?type=mom">Yo MAMA</a>
    <a class="button" href="/?type=dad">Nice one Dad</a>
    

  </main>
  <footer>
    <a href=""><img src="/images/windows.png" alt="windows logo" height="24">Start</a> 
    <div id="time"></div>
  </footer>
</body>
</html>
