{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1 class="h1">Rated Jokes Archive</h1>
<ul class="joke-list">
  {% for joke in ratedJokes %}
    {% include "server/list-item/list-item.liquid" %}
  {% endfor %}
</ul>

{% endblock %}
