{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1 class="h1">Rated Jokes Archive</h1>
<ul id="jokeList" class="joke-list"></ul>
<script src="/index.js" defer></script>

{% endblock %}
