{% layout "server/layouts/base.liquid" %}

{% block content %}

<div class="jokes">
    <h1 class="h1">{{ joke }}</h1>
    <img src="/images/clippy.png" alt="Clippy mascot" style="height: 300px;">
</div>

{% endblock %}
